.jumbotron-special{
    height: 260px;
    margin-left: 20px;
}

.jumbotron-sp{

    height: 260px; 
}

body{
    background-image: url("https://vignette.wikia.nocookie.net/turtledove/images/e/ec/Communist_Flag.jpg/revision/latest?cb=20131020230958");
    background-size: cover;
}


#qImg img{
    max-width: 200px;
    
}
    




#choices{
    width : 480px;
    top : 125px;
    padding : 10px
}

.choice{
    display: inline-block;
    width : 145px;
    text-align: center;
    vertical-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
   
    height : 70px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    margin: 50px;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    margin-top: 90px;
    margin-left:35%;
    bottom : 0px;
    right : 0px;
    padding:5px;
    
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
    
}


